Project Bootcamp Kelompok 3/Node-Red.json
[
    {
        "id": "e122e9efdf5f5c92",
        "type": "tab",
        "label": "ESP DHT MQTT Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66bbc32d.7aec1c",
        "type": "mqtt-broker",
        "name": "Test",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "69cc7bdf.e7e0e4",
        "type": "ui_tab",
        "name": "ON/OFF",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4350bafe.7c9f64",
        "type": "ui_group",
        "name": "Control",
        "tab": "69cc7bdf.e7e0e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22dc9fee.af14c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "bfd2dc99ef48e24a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7e6f3f0.afc3c",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "bfd2dc99ef48e24a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73d6a820553f6b41",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "32412b632887b689",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3be95d8b6d24c872",
        "type": "ui_group",
        "name": "Default",
        "tab": "32412b632887b689",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef324b5ce32116ae",
        "type": "ui_group",
        "name": "pH Dashboard",
        "tab": "bfd2dc99ef48e24a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dffe5284ed03970",
        "type": "ui_group",
        "name": "Water Temp",
        "tab": "bfd2dc99ef48e24a",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "998f9b05b528d0d7",
        "type": "ui_group",
        "name": "DO",
        "tab": "bfd2dc99ef48e24a",
        "order": 7,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bfd2dc99ef48e24a",
        "type": "ui_tab",
        "name": "Sensor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "27813ec4c4a72fe4",
        "type": "ui_group",
        "name": "Water Level",
        "tab": "bfd2dc99ef48e24a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "983deed63239e94f",
        "type": "ui_tab",
        "name": "pH dasboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "56fd723273743215",
        "type": "ui_button",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "039a98c3857f4174"
            ]
        ]
    },
    {
        "id": "f86b028c4b268dad",
        "type": "ui_button",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "039a98c3857f4174"
            ]
        ]
    },
    {
        "id": "4bac95f1d06abb3f",
        "type": "debug",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "54d04746ff7593c8",
        "type": "debug",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "ebabb0f5f26ceaab",
        "type": "ui_gauge",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "10",
        "max": "50",
        "colors": [
            "#ffc7c7",
            "#ff6666",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "8d3ebe111ba606c8",
        "type": "ui_chart",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2319c0acd6056efa",
        "type": "ui_chart",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5119f6f190dc79f0",
        "type": "ui_gauge",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bdffbd",
            "#54ff52",
            "#04ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "d62ee27e41cf1e8a",
        "type": "ui_text",
        "z": "e122e9efdf5f5c92",
        "group": "4350bafe.7c9f64",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "039a98c3857f4174",
        "type": "mqtt out",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "topic": "ESP32/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66bbc32d.7aec1c",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "3b6e13f918eb084e",
        "type": "debug",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "265d316c00ab0ff2",
        "type": "mqtt in",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "topic": "ESP32/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "54d04746ff7593c8",
                "ebabb0f5f26ceaab",
                "8d3ebe111ba606c8"
            ]
        ]
    },
    {
        "id": "4bd0b1c9ae651576",
        "type": "mqtt in",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "topic": "ESP32/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "3b6e13f918eb084e",
                "d62ee27e41cf1e8a"
            ]
        ]
    },
    {
        "id": "c77fcfe5346c943b",
        "type": "mqtt in",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "topic": "ESP32/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "4bac95f1d06abb3f",
                "5119f6f190dc79f0",
                "2319c0acd6056efa"
            ]
        ]
    },
    {
        "id": "97393d43c3e76e06",
        "type": "debug",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "12624f3516c7862a",
        "type": "ui_chart",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "ef324b5ce32116ae",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "pH Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1d985e4a24267b05",
        "type": "ui_gauge",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "ef324b5ce32116ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#bdddff",
            "#52a5ff",
            "#004cff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "8504e20428571dc3",
        "type": "mqtt in",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "topic": "ESP32/ph",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "97393d43c3e76e06",
                "1d985e4a24267b05",
                "12624f3516c7862a"
            ]
        ]
    },
    {
        "id": "b469bda8a1b4e802",
        "type": "debug",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "f7093760176a46e2",
        "type": "ui_chart",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "9dffe5284ed03970",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Water Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ffbb00",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2cc8efd62d1a81a4",
        "type": "ui_gauge",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "9dffe5284ed03970",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Temp Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff4bd",
            "#ffd666",
            "#ffbb00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "509b6a528f0c6ca8",
        "type": "mqtt in",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "topic": "ESP32/waterTemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "b469bda8a1b4e802",
                "2cc8efd62d1a81a4",
                "f7093760176a46e2"
            ]
        ]
    },
    {
        "id": "848235ad85009044",
        "type": "mqtt in",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "topic": "ESP32/waterLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 280,
        "wires": [
            [
                "1fc7baafebcfd296",
                "225e1df7259e5708",
                "130172ea0d47362d"
            ]
        ]
    },
    {
        "id": "225e1df7259e5708",
        "type": "ui_gauge",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "27813ec4c4a72fe4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Level Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "130172ea0d47362d",
        "type": "ui_chart",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "group": "27813ec4c4a72fe4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Water Level Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1fc7baafebcfd296",
        "type": "debug",
        "z": "e122e9efdf5f5c92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 240,
        "wires": []
    }
]
