Project Bootcamp Kelompok 3/Node-Red.json
[
    {
        "id": "76a17a704aeca087",
        "type": "tab",
        "label": "ESP DHT MQTT Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66bbc32d.7aec1c",
        "type": "mqtt-broker",
        "name": "Test",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "69cc7bdf.e7e0e4",
        "type": "ui_tab",
        "name": "Project Bootcamp",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4350bafe.7c9f64",
        "type": "ui_group",
        "name": "Control",
        "tab": "69cc7bdf.e7e0e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22dc9fee.af14c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "69cc7bdf.e7e0e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a7e6f3f0.afc3c",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "69cc7bdf.e7e0e4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "73d6a820553f6b41",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "32412b632887b689",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3be95d8b6d24c872",
        "type": "ui_group",
        "name": "Default",
        "tab": "32412b632887b689",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e728fafa4044cf6b",
        "type": "ui_tab",
        "name": "pH dasboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ef324b5ce32116ae",
        "type": "ui_group",
        "name": "pH Dashboard",
        "tab": "69cc7bdf.e7e0e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "063b1cb5e8bdb665",
        "type": "ui_group",
        "name": "Water Temp",
        "tab": "69cc7bdf.e7e0e4",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9dffe5284ed03970",
        "type": "ui_group",
        "name": "Water Temp",
        "tab": "e728fafa4044cf6b",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "998f9b05b528d0d7",
        "type": "ui_group",
        "name": "DO",
        "tab": "69cc7bdf.e7e0e4",
        "order": 7,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f6e5071484b3aa4",
        "type": "ui_button",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6106a3d8e438b9ce"
            ]
        ]
    },
    {
        "id": "65523b825983198a",
        "type": "ui_button",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "4350bafe.7c9f64",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6106a3d8e438b9ce"
            ]
        ]
    },
    {
        "id": "bd8fc9723e593f1d",
        "type": "debug",
        "z": "76a17a704aeca087",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "6b643b271e89599e",
        "type": "debug",
        "z": "76a17a704aeca087",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "077102bf93d0bca8",
        "type": "ui_gauge",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "10",
        "max": "50",
        "colors": [
            "#ffc7c7",
            "#ff6666",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "64e0d3b7fa1bac9e",
        "type": "ui_chart",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "22dc9fee.af14c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "092f675c43bac7d2",
        "type": "ui_chart",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1ae13ef553074980",
        "type": "ui_gauge",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "a7e6f3f0.afc3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bdffbd",
            "#54ff52",
            "#04ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "6c8dccf8301a0c30",
        "type": "ui_text",
        "z": "76a17a704aeca087",
        "group": "4350bafe.7c9f64",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "6106a3d8e438b9ce",
        "type": "mqtt out",
        "z": "76a17a704aeca087",
        "name": "",
        "topic": "ESP32/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66bbc32d.7aec1c",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "cceb1b89807a7f78",
        "type": "debug",
        "z": "76a17a704aeca087",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "27f61858716b1115",
        "type": "mqtt in",
        "z": "76a17a704aeca087",
        "name": "",
        "topic": "ESP32/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "6b643b271e89599e",
                "077102bf93d0bca8",
                "64e0d3b7fa1bac9e"
            ]
        ]
    },
    {
        "id": "921d4195674d7692",
        "type": "mqtt in",
        "z": "76a17a704aeca087",
        "name": "",
        "topic": "ESP32/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "cceb1b89807a7f78",
                "6c8dccf8301a0c30"
            ]
        ]
    },
    {
        "id": "cb627d381372dfb7",
        "type": "mqtt in",
        "z": "76a17a704aeca087",
        "name": "",
        "topic": "ESP32/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "bd8fc9723e593f1d",
                "1ae13ef553074980",
                "092f675c43bac7d2"
            ]
        ]
    },
    {
        "id": "18832f1503531348",
        "type": "debug",
        "z": "76a17a704aeca087",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "14bbab584042771e",
        "type": "ui_chart",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "ef324b5ce32116ae",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "pH Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7382d669119f1945",
        "type": "ui_gauge",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "ef324b5ce32116ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#bdddff",
            "#52a5ff",
            "#004cff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "5f14faef80a3b81f",
        "type": "mqtt in",
        "z": "76a17a704aeca087",
        "name": "",
        "topic": "ESP32/ph",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "18832f1503531348",
                "7382d669119f1945",
                "14bbab584042771e"
            ]
        ]
    },
    {
        "id": "674457f0194097a7",
        "type": "debug",
        "z": "76a17a704aeca087",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "876c9e8a723ebb07",
        "type": "ui_chart",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "063b1cb5e8bdb665",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Water Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ffbb00",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "434abd0395c7f653",
        "type": "ui_gauge",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "063b1cb5e8bdb665",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Temp Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fff4bd",
            "#ffd666",
            "#ffbb00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "206ab01c17b00dd3",
        "type": "mqtt in",
        "z": "76a17a704aeca087",
        "name": "",
        "topic": "ESP32/waterTemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "674457f0194097a7",
                "434abd0395c7f653",
                "876c9e8a723ebb07"
            ]
        ]
    },
    {
        "id": "7bfd3686e2ac8976",
        "type": "debug",
        "z": "76a17a704aeca087",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "d9db7b7ecb1b73c0",
        "type": "ui_chart",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "998f9b05b528d0d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "DO Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "417b7957d1d0c430",
        "type": "ui_gauge",
        "z": "76a17a704aeca087",
        "name": "",
        "group": "998f9b05b528d0d7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DO Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#f7bdff",
            "#ff52df",
            "#ff00dd"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "e6773960c1f4947f",
        "type": "mqtt in",
        "z": "76a17a704aeca087",
        "name": "",
        "topic": "ESP32/do",
        "qos": "2",
        "datatype": "auto",
        "broker": "66bbc32d.7aec1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 420,
        "wires": [
            [
                "7bfd3686e2ac8976",
                "417b7957d1d0c430",
                "d9db7b7ecb1b73c0"
            ]
        ]
    }
]